<div id="tabla2" class="contenedor"
  ng-controller="navigable.vertical"
identifier="main"
priority="0">   
    
  <div class="modal-beat">Quedan partidos sin apostar</div>

  <div>
    <input id="aceptar" 
      class="botonAC button-profile" 
      type="button" 
      value="Aceptar" 
      name="Aceptar" 
      ng-enter="confirm()" 
      ng-click="confirm()" 
      tabindex="1" 
      data-key-focus
      navigable-leaf="0"
      navigable-leaf-active="true"
      navigable-leaf-id="enter-input"
      navigable-leaf-class="hover" />
  </div>
  
</div>
